<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="PoDb"
		  connectionString="PERSIST SECURITY INFO=True;USER ID=NTG;PASSWORD=NTGdba1;DATA SOURCE=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP) (HOST = 148.251.138.107)(PORT = 1521)) (CONNECT_DATA = (SERVER = DEDICATED) (SERVICE_NAME = ntg)))"
		/>
	</connectionStrings>
</configuration>